.container{
    border:0px solid #d3ded3; 
    text-align:right;
}

body{
    font-family: 'Amiri', serif!important;
    font-size: 1.2rem;
}
html, body {
  height: 100%;
}
.quran{
    color:red;
}
.isnad{
    color:yellow;
}
.EDITOR{
    color:grey;
}
.PARATEXT{
    color:grey;
}
.content-outer-spacing{
    
    margin-bottom: 30px;
    padding-left: 50px!important;
    padding-right: 50px!important;
    text-align: right!important;
     direction:rtl;

}
#content{

    direction: rtl;
    text-align: right;
}
dl, ol, ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.pageno{

    font-size: 0.7rem;
    text-decoration:none;

}
.pageno-container{

    text-align:center;
}
.l1{

    color: #85144b;
}

.l2{

    color: #3D9970;
    margin-right: 10px;
}

.l3{
    margin-right: 20px;
    color: #39CCCC;
}


.toc-item {
    white-space: normal;
    
    text-decoration:none;
    padding-right: 10px;
}

.toc{
    text-align:left;
    width:auto;

}

.collapsibleList li{
  list-style-image : url('../img/button.png');
  cursor           : auto;
  border-bottom: 1px solid #d3d3d3;
  padding: 3px;
}

li.collapsibleListOpen{
  list-style-image : url('../img/button-open.png');
  cursor           : pointer;
}

li.collapsibleListClosed{
  list-style-image : url('../img/button-closed.png');
  cursor           : pointer;
}
p{
    text-indent: 10px;
}
.hemistich-1 {
    padding-right: 30px;
}
.hemistich-2 {
    padding-right: 20px;
}

.p-30{

  padding:30px;
}

#right {
    position:fixed;
    direction:ltr;
    
}
.right-panel {
    max-height: 75vh;
    overflow:auto;
    
}
.left-panel{

    overflow:none;
    text-align: right;
    direction:rtl;

}

.main-panel{
text-align: right;
direction:rtl;
}

#row-main{
    text-align: right;
    direction:rtl;

}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

#left {
    margin-right:35vw;
}


.top-heading-panel{       

        direction: rtl;
        bdackground-color: #fafafa;
        color:#2863A5;
}
#footer{
text-align: center;
direction: ltr ;
background-color: #fafafa;
}

.ui-btn.my-tooltip-btn,
.ui-btn.my-tooltip-btn:hover,
.ui-btn.my-tooltip-btn:active {
    background: none;
    border: 0;
}

.toggle-sidebar-left{
cursor: pointer;
}
@media (min-width: 992px) {
    .collapsed {
        display: block;
    }
    #sidebar-left.collapsed {
        margin-left: -25%; /* same width as sidebar */
    }
    #sidebar-right.collapsed {
        margin-right: -25%; /* same width as sidebar */
    }
}

.sidebar {
    -webkit-transition: margin 0.5s ease;
    -moz-transition: margin 0.5s ease;
    -o-transition: margin 0.5s ease;
    transition: margin 0.5s ease;
   
}
.bi{
    cursor: pointer;
    color:#2863A5;
}
.bi:hover{
    color: #CB2230;
}

.card-header{

    background-color: #f1f1f1;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    text-align: left;
}

.navbar > div>a{
    font-size: 15px;
    color: #2863A5;
    text-align: left;
}

.navbar{
    padding-top: 0rem;
    padding-bottom: 0rem;
}
